<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- 系统输出  std_out, err_out -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%t] %C{1.} %L %X{sessionId}-%X{deviceid} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>